.steps{
    background: $second-color;
    padding: 60px 0 20px;
    .inner{
        @include inner;
    }
    &-list{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .step-item{
            width: 100%;
            max-width: calc(100% / 3 - 40px);
            margin: 0 15px 40px;
            background: $base-white;
            padding: 30px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            @media screen and (max-width: 767px){
                max-width: 100%;
                padding: 15px;
            }
            &:nth-child(2){
                .step-item__icon{
                    svg{
                        margin: 0 0 0 25px;
                    }
                }
            }
            &__icon{
                width: 250px;
                height: 250px;
                background: $text-light;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: 0 auto 40px;
                @media screen and (max-width: 991px){
                    width: 160px;   
                    height: 160px;
                    padding: 30px; 
                }
                @media screen and (max-width: 767px){
                    width: 250px;
                    height: 250px;
                    padding: 0;
                }
                
            }
            &__sub-title{
                color: $primary-color;
                text-align: center;
                font-size: 30px;
                margin: 0 0 30px;
                @media screen and (max-width: 767px){
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }
            &__title{
                text-align: center;
                font-size: 42px;
                margin: 0 0 30px;
            }

            .text{
                text-align: center;
                flex: 1;
                margin-top: 0;
            }

            &__link{
                font-size: 22px;
                text-align: center;
                font-weight: 600;
                
                color: $primary-color;
                text-decoration: none;
                &:hover{
                    color: $action-color;
                    text-decoration: underline;
                }
            }
        }
    }
}